table {
  width: 100%;
}
td {
  padding: 2% !important;
}
h1{
    margin-top: 30px;
}
.spacer-height {
  height: 250px;
}
.content-right{
    margin-right: 50px;
    float: right;
}
.content-left{
    margin-left: 50px;
    float: left;
}
