table {
  width: 100%;
}
.AddButton{
  background-color: rgb(19, 153, 19);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.userListContainer{
  margin-top: 20px;
}

td{
  padding: 2% !important; 
}

li {
  background-color: rgba(255, 255, 255, 0.473);
  margin-bottom: 3%;
}

.btn-info {
  margin-bottom: 3%;
  width: 100%;
  opacity: 0.7;
}

.spacer-height {
  height: 500%;
}

.spacer-width {
  width: 30%;
}

.btn-success {
  width: 100%;
}
