<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Create game">
        <table>
            <tr>
                <td class="content-left">
                    <div class="btn-group-vertical mr-3">
                        <h1>Categories</h1>
                        <app-category-button (categorySelectedEvent)="selectNewCategory($event)"
                            *ngFor="let number of categoriesNumbers" [categories]="categories" [index]="number">
                        </app-category-button>
                    </div>
                </td>
                <td class="content-right">
                    <div class="btn-group-vertical mr-3">
                        <h1>Players</h1>
                        <app-user-button (userSelectedEvent)="selectNewUser($event)" *ngFor="let number of usersNumbers"
                            [users]="users" [index]="number"></app-user-button>
                    </div>
                </td>
            </tr>
            <tr class="spacer-height"></tr>
            <tr>
                <td class="content-left">
                    <button class="btn btn-danger btn-lg align-bottom" role="button" aria-disabled="true"
                        (click)="cancelChoices" [routerLink]="['/va-banque/admin-main']">
                        Clear
                    </button>
                </td>
                <td class="content-right">
                    <button class="btn btn-success btn-lg align-bottom" role="button" aria-disabled="true"
                        (click)="startGame()"> Create Game
                    </button>
                </td>
            </tr>
        </table>
    </mat-tab>
    <mat-tab label="Game settings">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button class="AddButton" mat-raised-button>Add Category</button>
                        </div>
                        <div class="col">
                            <button class="AddButton" [routerLink]="['/va-banque/admin-main/new']" mat-raised-button>Add Question</button>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="col">
                            <app-categories-list></app-categories-list>
                        </div>
                        <div class="col">
                            <app-questions-list></app-questions-list>
                        </div>
                    </div>
                </div>
    </mat-tab>
    <mat-tab label="User management">
            <app-user-details-list></app-user-details-list>
    </mat-tab>
</mat-tab-group>

<!-- <table>
    <tr>
        <td>
           <h3>Categories:</h3>
            <ul class="list-group" *ngFor="let category of categories" >
                <li class="list-group-item">{{category.name}} <button (click)="removeCategory(category.id)" type="button" class="btn btn-danger pull-right"><i class="fa fa-times"></i></button></li>
               
              
            </ul>
            <button *ngIf='mode!="Category"' (click)="changeCategoryMode()"  class="btn btn-success pull-right" role="button" aria-disabled="true"> <i class="fa fa-plus"></i> Add category</button>
           <app-add-category-and-user *ngIf='mode=="Category"'[Mode]="mode" (changeMode)="changeMode()" ></app-add-category-and-user>
            
        </td>
        <td>
            <h3>Questions:</h3>
            
            <button   type="button" class="btn btn-info text-white" role="button" aria-disabled="true" [routerLink]="['/va-banque/admin-main/questions']"> Show question list</button>
            <button   class="btn btn-success pull-right" role="button" [routerLink]="['/va-banque/admin-main/new']" aria-disabled="true"> <i class="fa fa-plus"></i> Add question</button>
        </td>
        <td>
            <h3>Users:</h3>
            <ul class="list-group" *ngFor="let user of users" >
                <li class="list-group-item"> {{user.name}} <button (click)="removeUser(user.id)" type="button" class="btn btn-danger pull-right"><i class="fa fa-times"></i></button></li>
             
              </ul>
              <button *ngIf='mode!="User"' (click)="changeUserMode()"  class="btn btn-success pull-right" role="button" aria-disabled="true"> <i class="fa fa-plus"></i> Add User</button>
              <app-add-category-and-user *ngIf='mode=="User"' [Mode]="mode" (changeMode)="changeMode()" ></app-add-category-and-user>
        </td>
        </tr>
        <tr class="spacer-height"></tr>
        <tr>
            <td>
            
                 <button   class="btn btn-light pull-left align-bottom" role="button" aria-disabled="true" [routerLink]="['/va-banque/ranking']"> <i class="fa fa-eye"></i>L<i class="fa fa-eye" ></i><p>Show Ranking</p> </button>
             </td>
             <td class="spacer-width">
             </td>
             <td>
                   <button   class="btn btn-dark pull-right align-bottom" role="button" aria-disabled="true" [routerLink]="['/va-banque/admin-main/game']"> <i class="fa fa-gamepad" ></i><p>Create the Game</p></button>
             </td>
        </tr>
</table> -->
<router-outlet></router-outlet>