
.container{
    margin-top: 20px;
      max-width: 75%;
  }
    ul{
        margin-top: 3%;
        width:50%;
    }
    td {
      padding: 2% !important;
    }
    
    li {
      background-color: rgba(255, 255, 255, 0.473);
    
    }
    
    table{
        width: 100%;
    }
    .tdleft{
      text-align:right;
    }