<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>{{Mode}} name:</p>
        <p><input formControlName="name"  class="form-control"  placeholder=""></p>
        <p class="spacer"></p>  
        <p><button   type="button" (click)="changeMode.emit(false)" class="btn btn-info text-white" role="button" aria-disabled="true">Cancel</button>
            <button type="submit" [disabled]="!form.valid"  class="btn btn-success pull-right" role="button" aria-disabled="true"> Save</button></p>
    </form>
</div>

