.spacer{
    height:10px;
}
.container{
    margin-top: 7%;
    background-color: rgba(255, 255, 255, 0.473);
    padding: 5%;
    width:60%;
}
form{
    background-color:transparent;

}
.btn{
    margin-top: 3%;
}