.gameInfo{
    float: left;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 32px;
}
.topbar{
    width: 100%;
    min-height: 50px;
}
button{
    float: right;
}
.container{
    padding-top: 20px;
}
.highscores{
    text-align: center;
}
.highscoresContainer{
    margin-top: 20px;
    padding-bottom: 15px;
    border: 2px solid white;
    border-radius: 10px;
}

