<div class="container">
    <div class="topbar">
        <h2 class="gameInfo">No game available...</h2>
        <button class="btn btn-success btn-lg" role="button" aria-disabled="true" (click)="joinGame()" [disabled]="!isGameAvailable ? 'disabled': null">
            Join the game
        </button>
    </div>
    <div class="highscoresContainer">
        <h2 class="highscores">Highscores</h2>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="My best">
                <app-my-ranking></app-my-ranking>
            </mat-tab>
            
            <mat-tab label="Global">
                <app-ranking></app-ranking>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
