.gameInfo{
    float: left;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 32px;
}
.topbar{
    width: 100%;
    min-height: 50px;
}
button{
    float: right;
}
.container{
    padding-top: 20px;
}

