body{
    background-color: #6c757d;
}
#ranking{
    width:30%;
    text-align:right;
}
#noGameInfo{
    margin: 20px;
}
table{
    width:100%;
}
td{
    padding: 2% !important;
}

li{
    background-color: rgba(255, 255, 255, 0.473);
   
    margin-bottom: 3%;
   
  }